[Unit]
Description = Credit System Bot
After = network.target

[Service]
WorkingDirectory = /home/tikhon/credit-system-bot/

User = tikhon
ExecStart = /home/tikhon/credit-system-bot/env/bin/python main.py
Restart = on-failure

[Install]
WantedBy = multi-user.target
